<!--<div class="slideShowContainer">- -->
<!--TEST-->
<!--</div>-->

<div>
  <div class="slideShowContainer ">
    <slideshow #slideshow
               [height]="innerHeight + 'px'"
               [autoPlay]="false"
               [showArrows]="false"
               [imageUrls]="imageUrlArray"
               [autoPlayWaitForLazyLoad]="true">
    </slideshow>

  </div>

  <div class="homePageContent" *ngIf="slideIndex === 0">
    <h1 class="title">ReciPAll</h1>

    <h3 class="mt-5 text"> Eat healthier with the recipes that ReciPAll has to offer!</h3>
  </div>

  <div class="homePageContent" *ngIf="slideIndex === 1">
    <h1 class="title">ReciPAll</h1>

    <h3 class="mt-5 text"> Start browsing the recipies now, or login to save your favorite ones!</h3>
    <div>
      <a [routerLink]="['/authentication/login']">
        <button type="button" class="btn btn-primary btn-lg">Log In</button>
      </a>

      <a [routerLink]="['/recipes']" class="m-lg-3">
        <button type="button" class="btn btn-primary btn-lg">Start Browsing</button>
      </a>
    </div>
  </div>
</div>
