.recipesList{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recipesPage{
  padding-top: 50px;
}

.optionsCheckbox{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.cardTitleIcon{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.heartButton{
  cursor: pointer;
}

.topSearch{
  display: flex;
  align-items: center;
  width: 100%;
}

.heartButtonTopSearch{
  padding-left: 20px;
}
