<div>
  <img
    src="{{recipe.coverPhotoUrl}}"
    class="img-fluid"/>

  <div class="badgesFlex">
    <h4 class="badgesGroup">
      <span class="badge rounded-pill bg-success">{{recipe.kcal}} Kcal</span>
      <span class="badge rounded-pill bg-success">{{recipe.difficulty}}</span>
      <span class="badge rounded-pill bg-success">{{recipe.mealType}}</span>
      <span class="badge rounded-pill bg-success"> About {{recipe.time}} minutes</span>
    </h4>
    <a [routerLink]="['/createOrEditRecipe', recipe.id]">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="" class="bi bi-pencil" viewBox="0 0 16 16">
        <path
          d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
      </svg>
    </a>
  </div>
  <hr class="dropdown-divider">
  <p class="fs-1">{{recipe.name}}</p>
  <p class="fs-5">{{recipe.description}}</p>
  <hr class="dropdown-divider">
  <p class="fs-2">Ingredients</p>
  <div>
    <p class="fs-5" *ngFor="let ingredient of recipe.ingredients">
      <b>{{ingredient.quantity}}</b>  {{ingredient.name}}
    </p>
  </div>
  <hr class="dropdown-divider">

  <p class="fs-2">Steps</p>

  <div>
    <p class="fs-5" *ngFor="let step of recipe.steps; let i = index">
      <b>{{i + 1}}.</b>  {{step}}
    </p>
  </div>

  <hr class="dropdown-divider">
  <p class="fs-2">Reviews</p>
  <div class="fs-3 text-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <div class="input-group mb-5">
    <textarea class="form-control" [formControl]="review"></textarea>
    <button type="button" class="btn btn-primary" disabled (click)="addReviewButtonClicked()" *ngIf="!isAuthenticated">Add a new review</button>
    <button type="button" class="btn btn-primary" (click)="addReviewButtonClicked()" *ngIf="reviewButtonState === 'Create' && isAuthenticated">Add a new review</button>
    <button type="button" class="btn btn-primary" (click)="updateReviewClicked()" *ngIf="reviewButtonState === 'Update' && isAuthenticated">Update your review</button>
    <button type="button" class="btn btn-danger" (click)="cancelUpdateReview()" *ngIf="reviewButtonState === 'Update' && isAuthenticated">Cancel operation</button>

  </div>


  <div class="fs-5" *ngFor="let review of reviews.slice().reverse()">
    <div class="card mb-5">
      <div class="card-header reviewCardHeader">
        <div>
          {{review.userEmail}}
        </div>

        <div class="reviewCardButtons" *ngIf="isAuthenticated && userName === review.userEmail ">
          <div (click)="editReviewClicked(review)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" class="bi bi-pencil"
                 viewBox="0 0 16 16">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
          </div>

          <div (click)="deleteReviewClicked(review)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                 viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </div>


        </div>
      </div>
      <div class="card-body">
        {{review.text}}
      </div>
    </div>
  </div>
</div>

