.badgesGroup{
  display: flex;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;

}
.badgesFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.reviewCardHeader{
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.reviewCardButtons{
  display: flex;
  text-align: center;
  gap: 10px;
  cursor: pointer;
}
